In [25]:
import sys

In [26]:
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [31]:
sys.version

'3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]'

In [29]:
keyword.iskeyword('and')

True

In [1]:
print('Hello world')

Hello world

In [2]:
#comment
'''
Yo bro what up,
How was ur day ?

'''

'\nYo bro what up,\nHow was ur day ?\n\n'

In [3]:
" _ is valid variable"

_ = 100

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [6]:
import keyword

In [7]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
len(keyword.kwlist)

36

## Primitive Data Type
    * Int
    * Float
    * Complex
    * String
    * Boolean

In [30]:
var1 = 10
print(type(var1))

<class 'int'>

In [23]:
var1 = "This is string"
print(var1)
type(var1)

This is string

str

#### In python we dont have character datatype that's why, we can use ' ' or " " both do the same work.....

In [15]:
?type
#to get the documentation

In [22]:
#float
var3 = 10.982
print(var3)
type(var3)

10.982

float

In [20]:
# real part and imaginary part
var2 = 12 - -3j
print(var2)
type(var2)

(12+3j)

complex

In [21]:
bool1 = True
bool_2 = False

In [24]:
23**2

529

In [32]:
import platform

In [35]:
print(platform.python_build())
print(platform.python_version())

('main', 'Aug 25 2022 23:51:50')
3.9.13

### String Methods

In [38]:
str1 = "This is python's string"
str2 = "Hi there, today's weather is amazing!"

In [40]:
str3 = str1 + ' ' + str2
print(str1+" " + str2)

This is python's string Hi there, today's weather is amazing!

In [41]:
str3.upper()

"THIS IS PYTHON'S STRING HI THERE, TODAY'S WEATHER IS AMAZING!"

In [42]:
str3.title()

"This Is Python'S String Hi There, Today'S Weather Is Amazing!"

In [43]:
str3.lower()

"this is python's string hi there, today's weather is amazing!"

### Indexing & Slicing

In [44]:
str3[:6]

'This i'

In [45]:
str4 = "This is TEK python session. We are learning about Python basics."

In [49]:
print(str4[0])
type(str4)

T

str

In [63]:
str4[-6:0]

''

In [61]:
str4.find('TEK')

8

In [64]:
x = str4.lower().find('python')

12

In [65]:
for i in range(12,19):
    print(str4[i])

p
y
t
h
o
n

In [66]:
str4[:]

'This is TEK python session. We are learning about Python basics.'

In [69]:
str4[::-1]

'.scisab nohtyP tuoba gninrael era eW .noisses nohtyp KET si sihT'

In [71]:
len(str4)

64

In [93]:
rev_str = []
ch = ''
for i in str4:
    if i != ' ':
        ch = ch + i
    if i == ' ':
        ch = ch + ' '
rev_str.append(ch)
#rev_str.append(' ')

In [104]:
temp_str = str4.split(' ')
temp_str

['This',
 'is',
 'TEK',
 'python',
 'session.',
 'We',
 'are',
 'learning',
 'about',
 'Python',
 'basics.']

In [105]:
for i in temp_str:
    rev_str.append(i)

In [106]:
rev_str

['This is TEK python session. We are learning about Python basics.',
 'This',
 'is',
 'TEK',
 'python',
 'session.',
 'We',
 'are',
 'learning',
 'about',
 'Python',
 'basics.']

In [107]:
rev_str.reverse()

In [108]:
rev_str

['basics.',
 'Python',
 'about',
 'learning',
 'are',
 'We',
 'session.',
 'python',
 'TEK',
 'is',
 'This',
 'This is TEK python session. We are learning about Python basics.']

In [92]:
str5 = "This, is pthon, session, we are, learning here!"
str5.split(',')

['This', ' is pthon', ' session', ' we are', ' learning here!']

In [100]:
str6 = "Data Engineering with ptyhon and TEKsystem Global Services"
str6.partition(' and ')

('Data Engineering with ptyhon', ' and ', 'TEKsystem Global Services')

### Lists
    * List is mutable data structure. Modification is allowed
    * It is hetrogenous collection of multiple data items of different types e.g int, complex, boolean, float, stringse etc.
    * Duplicate values are allowed.

In [114]:
list1 = [1,1,3,4,5]
list2 = ['a','b','c','d','e']

In [110]:
print(list1+list2)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [111]:
#Nested List

list3 = [[1,2,3,4,5],['a','b','c','d','e']]

### Methods of Lists

In [115]:
list1.count(1)

2

In [116]:
list1.append(2)
list1

[1, 1, 3, 4, 5, 2]

In [117]:
list1.append(True)

In [118]:
list1

[1, 1, 3, 4, 5, 2, True]

In [119]:
list1.append(True)

In [120]:
list1

[1, 1, 3, 4, 5, 2, True, True]

In [121]:
list1.append(12345)
list1

[1, 1, 3, 4, 5, 2, True, True, 12345]

In [122]:
list1.append([12,120])
list1

[1, 1, 3, 4, 5, 2, True, True, 12345, [12, 120]]

In [123]:
list1.clear()
list1

[]

In [124]:
del(list1)
list1

NameError: name 'list1' is not defined

In [125]:
#shallow copy
list4 = list2.copy()

In [127]:
list5 = list2
#deep copy
print(list2)
print(list5)
list2.append("New numbre added 2nd time")
print(list5)

['a', 'b', 'c', 'd', 'e', 'New numbre added']
['a', 'b', 'c', 'd', 'e', 'New numbre added']
['a', 'b', 'c', 'd', 'e', 'New numbre added', 'New numbre added 2nd time']

In [128]:
#use of Extend function in list
#append takes only one element
#while extend takes multiple elements as an argument

In [129]:
list2.extend(['raja','baja','maja'])
list2

['a',
 'b',
 'c',
 'd',
 'e',
 'New numbre added',
 'New numbre added 2nd time',
 'raja',
 'baja',
 'maja']

In [130]:
list2.index('e')
#return individual index of the  element

4

In [132]:
list2.insert(3,'neel')
#it insert individual object at specific place
list2

['a',
 'b',
 'c',
 'neel',
 'd',
 'e',
 'New numbre added',
 'New numbre added 2nd time',
 'raja',
 'baja',
 'maja']

In [133]:
list2.insert(2,['new','list','it','is'])
list2

['a',
 'b',
 ['new', 'list', 'it', 'is'],
 'c',
 'neel',
 'd',
 'e',
 'New numbre added',
 'New numbre added 2nd time',
 'raja',
 'baja',
 'maja']

In [134]:
list2.pop()
#it removes a single from list, using index positon....but default value is -1

'maja'

In [135]:
#remove function remove by value
list2.remove('neel')

In [136]:
list2

['a',
 'b',
 ['new', 'list', 'it', 'is'],
 'c',
 'd',
 'e',
 'New numbre added',
 'New numbre added 2nd time',
 'raja',
 'baja']

In [137]:
list2.reverse()
list2

['baja',
 'raja',
 'New numbre added 2nd time',
 'New numbre added',
 'e',
 'd',
 'c',
 ['new', 'list', 'it', 'is'],
 'b',
 'a']

In [138]:
list2[-1::-1]

['a',
 'b',
 ['new', 'list', 'it', 'is'],
 'c',
 'd',
 'e',
 'New numbre added',
 'New numbre added 2nd time',
 'raja',
 'baja']

In [140]:
list2

['baja',
 'raja',
 'New numbre added 2nd time',
 'New numbre added',
 'e',
 'd',
 'c',
 ['new', 'list', 'it', 'is'],
 'b',
 'a']

In [142]:
list2[7][1]

'list'

### Tuples
    * Tuples are similar to list ecept that the tuple object are immutable 
    * when we dont want to change data over time, tuples are preffered
    * Iterating over the elements of tuple is faster compared to iterating over list.
#### last line is important
    * tuples take less memory compared to lists

In [143]:
tuple1 = ()
tuple1 = tuple()

In [144]:
tuple1 = ('neel',54,'zee','ulya',78)
tuple1

('neel', 54, 'zee', 'ulya', 78)

In [145]:
tuple1.index('ulya')

3

In [146]:
tuple2[2] = 'new value'
#cant update exisiting tuple value

NameError: name 'tuple2' is not defined

### List are dynamic, while tuple are static

In [147]:
list2[2] = 5

### Sets
    * Sets elements are unique collection of items, no duplicate items are allowed
    * sets are unordered sets has no index attached to any element
    * it is mutable and heterogeneous collection

In [148]:
set1 = set()
type(set1)

set

In [149]:
set1 = {'This is set',25,50,100,75,25}
set1

{100, 25, 50, 75, 'This is set'}

In [150]:
A = {'A','B','C','D','E','H'}
B = {'G','H','I','F','D'}
C = {'A','N','O','P','H','D'}

In [152]:
A.intersection(B)
#common values b/w set A nad Set B

{'D', 'H'}

In [153]:
A.intersection(C)
#common values b/w set A nad set C

{'A', 'D', 'H'}

In [154]:
A | B

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'}

In [155]:
A & B & C
#intersection of A to B,C

{'D', 'H'}

In [164]:
print(A | B | C)
#union of sets

{'C', 'E', 'G', 'I', 'D', 'F', 'B', 'O', 'P', 'H', 'A', 'N'}

In [158]:
A.union(B,C)

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'N', 'O', 'P'}

In [159]:
A.difference(B)

{'A', 'B', 'C', 'E'}

In [163]:
A - B
#elements presetn in A but not in B

{'A', 'B', 'C', 'E'}

In [161]:
A

{'A', 'B', 'C', 'D', 'E', 'H'}

In [162]:
B

{'D', 'F', 'G', 'H', 'I'}

In [165]:
myset1 = {1234,True,False,'Apple','Papaya', 22+66j}
print(myset1)

{False, True, 1234, 'Apple', 'Papaya', (22+66j)}

In [166]:
myset1.add(100)

In [167]:
myset1

{(22+66j), 100, 1234, 'Apple', False, 'Papaya', True}

In [169]:
myset1.update(['elevven','ten','twelve'])
print(myset1)
#to update exisitng sets with multiple values

{False, True, 1234, 'Apple', (22+66j), 'elevven', 100, 'ten', 'twelve', 'Papaya'}

In [170]:
myset1.pop()
#it removes the first element, and it doesnt take any argument

False

In [177]:
list7 = [1,2,'a','c',True]

In [175]:
list7.pop(0)
list7

[2, 'a', 'c', True]

In [178]:
list7.remove(1)

In [179]:
list7

[2, 'a', 'c', True]

### Dictionary
    * Mutable collection of keys and values, where keys are unique and values may or may not be duplicate
    * dictionary is mutable

In [181]:
dic1 = {}
print(type(dic1))

<class 'dict'>

In [182]:
employee1 = {'empid':10879,
              'name':'Neel Madhab Roy',
                'Age': 21,
                'company':'Teksystem'}

In [187]:
fruit_basket = dict([('A','Apple'),('B','Blueberry'),('C','Cherry'),('G','Graphes')])

In [188]:
print(fruit_basket)

{'A': 'Apple', 'B': 'Blueberry', 'C': 'Cherry', 'G': 'Graphes'}

In [190]:
employee1.items()
#return list of tuples of all items

dict_items([('empid', 10879), ('name', 'Neel Madhab Roy'), ('Age', 21), ('company', 'Teksystem')])

In [192]:
employee1.keys()

dict_keys(['empid', 'name', 'Age', 'company'])

In [194]:
employee1.values()

dict_values([10879, 'Neel Madhab Roy', 21, 'Teksystem'])

In [195]:
employee1

{'empid': 10879, 'name': 'Neel Madhab Roy', 'Age': 21, 'company': 'Teksystem'}

In [196]:
employee1['location'] = 'Hyderabad'

In [197]:
employee1

{'empid': 10879,
 'name': 'Neel Madhab Roy',
 'Age': 21,
 'company': 'Teksystem',
 'location': 'Hyderabad'}

In [198]:
employee1.update({'Age':22})

In [199]:
employee1

{'empid': 10879,
 'name': 'Neel Madhab Roy',
 'Age': 22,
 'company': 'Teksystem',
 'location': 'Hyderabad'}

In [200]:
employee1.update({'location':['Hyderbad','Banglore']})
employee1

{'empid': 10879,
 'name': 'Neel Madhab Roy',
 'Age': 22,
 'company': 'Teksystem',
 'location': ['Hyderbad', 'Banglore']}

In [201]:
employee1['location'][1]

'Banglore'

In [202]:
employee1.pop('Age')
employee1

{'empid': 10879,
 'name': 'Neel Madhab Roy',
 'company': 'Teksystem',
 'location': ['Hyderbad', 'Banglore']}

### Nested Dictionary

In [204]:
nes_dic = {
   'emp1': {
        'id': 1,
        'name':'neel',
        'age':21
    },
    
   'emp2': {
        'id':2,
        'name':'rahul',
        'age':23
    },
   'emp3': {
        'id':3,
        'name':'ram',
        'age':25
    },
    'emp4':{
        'id':4,
        'name':'shayam',
        'age':32
    }
}

In [205]:
nes_dic

{'emp1': {'id': 1, 'name': 'neel', 'age': 21},
 'emp2': {'id': 2, 'name': 'rahul', 'age': 23},
 'emp3': {'id': 3, 'name': 'ram', 'age': 25},
 'emp4': {'id': 4, 'name': 'shayam', 'age': 32}}

In [206]:
nes_dic['emp1']

{'id': 1, 'name': 'neel', 'age': 21}

### Unasisted Practise Question

    * Create a nested dictionary
    * create three dictionaries then create one dictionary that will contain the other three dictionaries
    * access key value using get() method
    * update an existing key value pair
    * check operation if any key exits or not
    * delete entire dictionary
    * Make a copy of a dictionary using copy() method

In [252]:
person1 = {'name':'pushkal','loc':'hyd','company':'TGS'}
person2 = {'name':'himant','loc':'bly','company':'Nokia'}
person3 = {'name':'ankit','loc':'bwn','company':'atlasian'}

In [253]:
candidate = {
    'person1' : person1,
    'person2' : person2,
    'person3' : person3
    
}

In [254]:
candidate

{'person1': {'name': 'pushkal', 'loc': 'hyd', 'company': 'TGS'},
 'person2': {'name': 'himant', 'loc': 'bly', 'company': 'Nokia'},
 'person3': {'name': 'ankit', 'loc': 'bwn', 'company': 'atlasian'}}

In [255]:
candidate.get('person2')

{'name': 'himant', 'loc': 'bly', 'company': 'Nokia'}

In [256]:
candidate['person1'].update({'name':'Rahul'})

In [257]:
candidate

{'person1': {'name': 'Rahul', 'loc': 'hyd', 'company': 'TGS'},
 'person2': {'name': 'himant', 'loc': 'bly', 'company': 'Nokia'},
 'person3': {'name': 'ankit', 'loc': 'bwn', 'company': 'atlasian'}}

In [258]:
ky = list(candidate['person1'].keys()) + list(candidate.keys())

In [259]:
ky

['name', 'loc', 'company', 'person1', 'person2', 'person3']

In [251]:
'loc' in ky

True

In [241]:
candidate['person1'].keys()

dict_keys(['name', 'loc', 'company'])

In [242]:
copy_dic = candidate.copy()

In [243]:
candidate['person1']['loc']

'hyd'

In [244]:
candidate.clear()

In [245]:
candidate

{}

In [246]:
del(candidate)

In [247]:
candidate

NameError: name 'candidate' is not defined

In [250]:
copy_dic['person1']['salary']

KeyError: 'salary'