### Variables
    * A python variable is reserved memory location to store value. A variable is created the moment you assign a value to it

In [1]:
#assignment
first_string_var = 'Test Variable'
first_integer_Var = 100

In [2]:
first_integer_Var = first_integer_Var + 100
print(first_integer_Var)

200

In [3]:
#multiplying sting var with integer, it will print that string number of times the integer value provided
print(first_string_var * 5)

Test VariableTest VariableTest VariableTest VariableTest Variable

### Multiple Assignments
    * multiple variables can be assigned simultaneously

In [4]:
intvar, str_var, float_var, bool_var = 10000, 'NMR', 120.25, True

In [6]:
print(intvar, float_var, str_var, bool_var)

10000 120.25 NMR True

### Alternative of print the values

In [7]:
print(f'ineger value is {intvar}')

ineger value is 10000

In [9]:
print('integer value {}, boolean value {}, float value {}, string value {}'.format(intvar, bool_var, float_var, str_var))

integer value 10000, boolean value True, float value 120.25, string value NMR

In [12]:
print("Intger value is",intvar)

Intger value is 10000

### Data type check
    * isinstance()

In [25]:
var1 = 100
print(var1, "is integer?" , isinstance(var1, int))
isinstance(var1, int)

100 is integer? True

True

In [1]:
?type

In [21]:
id(var1)
#display the unique id of any variable

2010601117136


### Operators
   Operators are constraints which can help manipulate the value of operands
       
       * Arithmatic operators
           - used to perform mathematical oeprations like addition subtraction multiplication etc.

In [30]:
v1 , v2 = 5,2

In [31]:
print(v1 + v2)
print(v1 - v2)
print(v1 * v2)
print(v1 / v2)
print(v1 ** v2)
print(v1 // v2)
print(v1 % v2)

7
3
10
2.5
25
2
1

 * Comparison Operators
     - Comparison operatos are used to commpare vales, it either return true or false according to the condition.

In [32]:
v1, v2 = 7,3
print(v1 > v2)
print(v1 < v2)
print(v1 == v2)
print(v1 != v2)

True
False
False
True

 * Logical Operators
     - logical operators 'and', 'or', 'not

In [41]:
v1, v2 = True, False
print(v1 and v2)
print(v1 & v2)
print(v1 or v2)
print(v1 | v2)
print(not v2)
#print(!v1)

False
False
True
True
True

 * Bitwise operators
     - this acts like an opetors as if they were string of binary digits it operats bit by bit

In [43]:
v1, v2 = 3,7
print(v1 & v2) # bitwise AND - 0000 0011 & 0000 0111 RESUTL WOUBLE BE - 0000 0011 (THATS 3)

3

In [44]:
print(v1 | v2) # bitwise OR - 0000 0011 | 0000 0111 RESULT WOULD BE - 0000 0111 (THATS 7)

7

In [45]:
print(v1 ^ v2)

4

### Python statements

In [46]:
# multiple line statement
number = 10 + 20 + 30 +
        40 + 50 + 60 + 
        70 + 80 + 90 +
        100

SyntaxError: invalid syntax (153636317.py, line 2)

In [48]:
# multiple line statement
number = 10 + 20 + 30 + \
        40 + 50 + 60 + \
        70 + 80 + 90 + \
        100
print(number)

550

In [49]:
# multiple line statement
number =(10 + 20 + 30 +
        40 + 50 + 60 + 
        70 + 80 + 90 +
        100)
print(number)

550

### Python Indentation

In [50]:
v1 = 10
    v2 =12

IndentationError: unexpected indent (2418995807.py, line 2)

In [51]:
if v1 == 10:
print(v2)

IndentationError: expected an indented block (3762957064.py, line 2)

### Conditional statement
    * Control or conditional statement allow to check conditions and change the behaviour of a progarm

In [54]:
number = 25

if number <30:
    print("Number is less than default nubmber")
    print("within the if block \n")
print("This is defualt print statement, it has nothing to do with if statement")

Number is less than default nubmber
within the if block

This is defualt print statement, it has nothing to do with if statement

In [56]:
age = 21
if age > 18:
    print("You are an adult, juvenile crime doesn't apply on you")
else:
    print("You are a kid, you comes under juvenile crime")

You are an adult, juvenile crime doesn't apply on you

In [58]:
#nested if statement
age = 21

if age >= 13:
    if age<=19:
        print("teenager")
    else:
        print("Adult")
else:
    print("child")
print("This is default print & will always get excuted")

Adult
This is default print & will always get excuted

In [59]:
#nested if statement
age = int(input("enter the age of the user? "))

if age >= 13:
    if age<=19:
        print("teenager")
    else:
        print("Adult")
else:
    print("child")
print("This is default print & will always get excuted")

enter the age of the user? 24
Adult
This is default print & will always get excuted

In [61]:
marks = int(input("enter the marks of the student"))

if marks >= 90:
    print("Good!, Grade A")
elif 90 <= marks >= 80:
    print("Did well, keep it up! Grade B")
elif 80 <= marks >= 70:
    print("Not bad!, Grade C")
elif 70 <= marks >= 60:
    print("push hard!, Grade D")
else:
    print("better luch next time!, Grade E")

enter the marks of the student34
better luch next time!, Grade E

### Ternary Operators
    * Ternary oeprators also known as conditional statement, test a condition in a single line, replacing multiple line if...else This makes code compact

In [62]:
Syntax: [on_true] if [expression] else [on_false]

NameError: name 'expression' is not defined

In [63]:
a,b = 10, 20
max = a if a>b else b
print(max)

20

In [64]:
a,b = 10, 20
print(a if a>b else b)
#print(max)

20

In [68]:
age = int(input("enter age? "))

print("Adult" if age>=18 else "Child")

enter age? 35
Adult

In [70]:
#age = int(input("enter age? "))

print("Adult" if (age = int(input("enter")) >=18) else "Child")

SyntaxError: invalid syntax (48933926.py, line 3)

In [74]:
if (age = int(input()) >12):
    print("hello buddy")

SyntaxError: invalid syntax (3953263011.py, line 1)

#### multiple if else statment in ternary operator

In [76]:
syntax : [on_true] if [expression] else [on_true] if [expression] else [on_false]

NameError: name 'expression' is not defined

In [75]:
b_age = int(input("enter brother age? "))
s_age = int(input("enter sister age ?"))

print("brother is elder" if b-age > s_age else "sister is elder" if s_age> b_age  else "both are twins"  )

enter brother age? 22
enter sister age ?23
sister is elder

### While Loop
    * use while loop to iterate over a block of code as long as the test ecpression is true or break statment is found

In [3]:
mylist  = [10,20,30,40,50,60,70,80,90]
sums = 0
index = 0
while index < len(mylist):
    sums = sums + mylist[index]
    index += 1

In [4]:
catch = 0
for i in mylist:
    catch = catch + i
    
print(catch)

450

### while loop with else
    * while loop in python have an optional else part
    * the satement in else will be executed when condition is not fullfilled anymore

In [9]:
guess_value = 5
guess = 0

while guess != guess_value:
    guess = int(input())
    if guess > 0:
        if guess > guess_value:
            print("number is too large")
        elif guess < guess_value:
            print("number is too small")
    else:
        print("sorry! that you are giving up!")
        break
else:
    print("Congratulation you made it!")

-2
sorry! that you are giving up!

### Find list of even digit number
    Problem statement: WAP which will print all number betweeen 1000 and 300 (both included) such that each didgit of number is an even number

In [1]:
lt = []
i = 1000
while i <= 3000:
    if i%2 == 0:
        lt.append(i)
    i += 1

In [5]:
len(lt)

1001

### For loop
    * python for loop is an iterator based for loop it steps through the items of list, tuples, strings, ket of dictionaries and other iterables

In [6]:
new_list = []
for i in range(1000,3001,2):
    new_list.append(i)

In [8]:
s_list = []
for i in range(1000,3001):
    if i % 2 == 0:
        s_list.append(i)

In [9]:
print(s_list)

[1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000]

In [10]:
list1 = []
for i in range(1000,3001): i if i%2 !=0 else list1.append(i)

In [15]:
list2 = []
for i in range(1,101): i if i%2 == 0 else list2.append(i)

In [ ]:
list3 = []
for i in range(2,int(101/2)+1):

In [25]:
list4 = []
for j in range(1,101):
    if j == 1:
        print("1 not a prime number")
    else:
        for i in range(2,int(j/2)+1):
            if (j%i) == 0:
                #print(j,"not a prime number")
                break
        else:
            #print("its a prime number",j)
            list4.append(j)

not a prime number

In [26]:
list4

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

### Loop and dictionary excerises

keys = ['M','A','N','G']
values = ['meta','apple','netflix','google']
#expected output
{'M':'meta','A':'apple so on'}

In [28]:
keys = ['M','A','N','G']
values = ['meta','apple','netflix','google']
mang_company = dict(zip(keys,values))
print(mang_company)

{'M': 'meta', 'A': 'apple', 'N': 'netflix', 'G': 'google'}

In [45]:
for i in mang_company:
    print(i, mang_company[i])

M meta
A apple
N netflix
G google

In [55]:
for i, j in enumerate(keys,values):
    print(i,j)

TypeError: 'list' object cannot be interpreted as an integer

In [63]:
dict_1 = {}
start2 = time.time()
for i in range(len(keys)):
    dict_1[keys[i]] = values[i]
duration2 = time.time() - start2
print(duration2)

0.0

In [54]:
dict_1

{'M': 'meta', 'A': 'apple', 'N': 'netflix', 'G': 'google'}

In [65]:
dic1 = {}
#start timestamp
start1 = time.time()
for i,j in enumerate(values):
    #print(keys[i],j)
    dic1.update({keys[i]:j})
duration1 = time.time() - start1
print(duration1)
print(dic1)

0.0
{'M': 'meta', 'A': 'apple', 'N': 'netflix', 'G': 'google'}

In [61]:
import time
time.time()

1677230377.200758

In [ ]:
time.time()

### Exercise: create a dictionary by extracting the keys from a given dictionary

In [75]:
s_dic = {
    'name':'x',
    'age':'12',
    'loc':'hyd',
    'salary':200
}

In [78]:
keys = ['name','salary']
f_dic = {}
m_dic={}
for i in keys:
    f_dic[i] = s_dic[i]

In [77]:
f_dic

{'name': 'x', 'salary': 200}

In [79]:
for i in keys: m_dic.update({i:s_dic[i]})

In [80]:
m_dic

{'name': 'x', 'salary': 200}

In [81]:
new_dic = {k:s_dic[k] for k in keys}
new_dic

{'name': 'x', 'salary': 200}

### scan all keys from dictionary and get a key will minimum value

In [86]:
marks = {
    'a':23,
    'b':77,
    'c':12,
    'd':21,
    'e':56
}

print(min(marks,key = marks.get))

c

In [89]:
sum(marks[i] for i in marks)

189

### find frequency of each word from a given input string

In [107]:
sample_str = "mumabi delhi hyderabad bareilly delhi kolkata chandigarh hyderabad bareilly bareilly bareilly delhi dhanbad kolkata"

lt = []
lt = sample_str.split(' ')

In [106]:
for i in lt:
    print(i,lt.count(i))

mumabi 1
delhi 3
hyderabd 1
bareilly 4
delhi 3
kolkata 2
chandigarh 1
hyderabad 1
bareilly 4
bareilly 4
bareilly 4
delhi 3
dhanbad 1
kolkata 2

In [109]:
sam_dic = {}
for i in lt:
    sam_dic[i] = lt.count(i)

In [110]:
sam_dic

{'mumabi': 1,
 'delhi': 3,
 'hyderabad': 2,
 'bareilly': 4,
 'kolkata': 2,
 'chandigarh': 1,
 'dhanbad': 1}

### Functions
    * In programming, we define a function to make reusable code that prefers similar operations It is block of organized code written to perform a specific taks
    * Information can be passed into fucntiona as arguments
    * parameters are specific after the function name within paranthesis. function_name(arg1,arg2....)
    * a function in python is declared using def keyword
    * a function may or may not return data

In [112]:
#declaration of function
def myfunc():
    print("Hello python lovers!")

#calling function
myfunc()

Hello python lovers!

In [117]:
def greeting(name):
    '''
    hello, this is the documentation of this function'''
    print('hello '+ str(name)+ " good evening")

greeting("Neel")

hello Neel good evening

In [118]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [119]:
# __doc__ use this to get document of method/function/classes
print(greeting.__doc__)

    hello, this is the documentation of this function

In [126]:
def add(var1,var2):
    var3 = var1 + var2
    print('sum of two argument are : %.2f'%var3)

add(10,20)

sum of two argument are : 30.00

In [151]:
def add(var1,var2):
    var3 = var1 + var2
    #print('sum of two argument are : %d'%var3)
    print(var3)
#add(19,28.987)

In [152]:
def sub(var1,var2):
    var3 = abs(var1 - var2)
    #print('sum of two argument are : %d'%var3)
    print(var3)
#add(19,28.987)

In [153]:
def mul(var1,var2):
    var3 = var1*var2
    #print('sum of two argument are : %d'%var3)
    print( var3)
#add(19,28.987)

In [131]:
def div(var1,var2):
    
    var3 = var1/var2
    #print('sum of two argument are : %d'%var3)
    return var3
#add(19,28.987)

In [132]:
def md(var1,var2):
    var3 = var1%var2
    #print('sum of two argument are : %d'%var3)
    return var3
#add(19,28.987)

In [127]:
#return type function
def greeting(name):
    statement = 'hello ' + name +' good evening!'
    return statement

#calling a function
greeting('raju')

'hello raju good evening!'

### create a function calculator which takes 3 parameters two numbers and one operator

In [133]:
def calculator(val1, val2, op):
    if op == 'additon':
        result = add(val1,val2)
    if op == 'subtraction':
        result = sub(val1,val2)
    if op == 'multiplication':
        result = mul(val1,val2)
    if op == 'division':
        result  = div(val1,val2)
    if op == 'modulas':
        result = md(val1,val2)
    
    print(result)

In [143]:
v1, v2, op  = int(input("enter the value of v1: ")), int(input("enter the value of v2: ")), input("enter the operator ")

enter the value of v1: 5
enter the value of v2: 6
enter the operator additon

In [134]:
calculator(2,6,'multiplication')

12

In [144]:
calculator(v1,v2,op)

11

In [154]:
def calculator(val1,val2,op): add(val1,val2) if op == 'addition' else sub(val1,val2) if op == 'subtraction' else mul(val1,val2) if op == 'multiplication' else print("invalud")

In [155]:
calculator(2,3,'addition')

5

### Scope of the variable

In [156]:
var ='global varibale'

def inner():
    var='inner variable'
    print(var)
inner()

inner variable

In [158]:
var ='global varibale'

def inner():
    print(var)
    #var='inner variable'
    #print(var)
inner()

global varibale

In [2]:
#Enclosed Scope
var = 'global variable'
def outer():
    var = 'outer variable '
    def inner():
        print(var)
    inner()

outer()
print(var)
inner()

outer variable
global variable

NameError: name 'inner' is not defined