In [38]:
d = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
l = []

for i in d:
    l.append(d[i])
l

[45.5, 35, 41.3, 55, 24]

In [43]:
import operator
print(sorted(d.items(),key =operator.itemgetter(1)))

[('item5', 24), ('item2', 35), ('item3', 41.3), ('item1', 45.5), ('item4', 55)]

In [49]:
from heapq import nlargest

three_largest = nlargest(3, d, key=d.get)
three_largest
for i in three_largest:
    print(i,d[i])

item4 55
item1 45.5
item3 41.3

In [39]:
l = sorted(l,reverse= True)

In [40]:
l

[55, 45.5, 41.3, 35, 24]

In [41]:
d2 = {}
for key,value in d.items():
    if value in l:
        print(value)
d2

45.5
35
41.3
55
24

{}

In [16]:
#scope of variable

var1 = 40
var2 = 200
def fxn1():
    #var1 = 50
    print(var1)
    def fxn3():
        print(var1)
    fxn3()

def fxn2():
    var2 = 100
    print(var2)
    
fxn1()
#fxn3()
fxn2()
#print(var1)

40
40
100

In [20]:
var1 = 80
def fxn1():
    var1 = 50
    print(var1)
    def fxn3():
        print(var1)
    #fxn3()

def fxn2():
    var2 = 100
    print(var2)

fxn1()
fxn3()
fxn2()

50

NameError: name 'fxn3' is not defined

In [21]:
l1 = [1,2,3,4]
l2 = [10,20,30,40]
l3 = []
def list_merg(*li):
    for i in li:
        l3.append(i)

In [22]:
list_merg(l1,l2)

In [23]:
l3

[[1, 2, 3, 4], [10, 20, 30, 40]]

### WAP to create a function show employee using following conditions
    * it should accept the employee name and salary and display both
    * if salary is missing in function call then assign default value to salary

In [25]:
def show_employee(name, salary = 50000):
    print(f'The name of the employee is {name}')
    print(f'THe salary of the {name} is {salary}')

show_employee('Raju')

The name of the employee is Raju
THe salary of the Raju is 50000

In [26]:
show_employee('Param',100000)

The name of the employee is Param
THe salary of the Param is 100000

### Create a python recursive fucntion in python we know that a fucntion can call other functions it is even possible for function to call itself

In [29]:
# factorial of input number
def factorial(x):
    '''
    This is a recursive function, which calls itself. to find factorial of a positive integer number
    '''
    if x == 1:
        return 1
    else:
        return (x*factorial(x-1))

In [30]:
factorial(5)

120

In [ ]:
Write a Python program to get the top three items in a shop. 
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Expected Output:
item4 55
item1 45.5
item3 41.3

In [2]:
#alternative method
userinput = int(input("enter a positive number: "))
def fct(a):
    while(a>0):
        if a == 1:
            return 1
        elif a == 0:
            return 0
        else:
            return (a*fct(a-1))
    else:
        print('invalid number')

fct(userinput)

enter a positive number: -4
invalid number

In [34]:
def fct2(a):
    rec = 1
    while(a>0):
        rec = rec * a
        a = a-1
    return rec

fct2(5)

120

### * args
    * When you are not usre about the number of argumets being apssed to function then we use *args as fucntion parameter.
    * Arguments must be passed as list or tuple

In [36]:
def userdetails(*args):
    print(args)

userdetails('Neel','Madhab','Roy',21,9368587708,'Hyderabad','TEKsystem Global Services','Techincal Trainee')

('Neel', 'Madhab', 'Roy', 21, 9368587708, 'Hyderabad', 'TEKsystem Global Services', 'Techincal Trainee')

In [45]:
def addtion(* args):
    return sum(args)

list1 = [2,4,6,8]
list2 = (2,4,6,8)

print(addtion(*list1))

20

### Kwargs (keyword arguments)
    * kwargs allow us to pass varibale name of keyword arguments to the function
    * Return output will be a dictionary

In [53]:
def userdeatils(**kwargs):
    print(kwargs)
    
userdeatils(Name = 'Neel',Age = 21,Location = 'Hyderabad',Company = 'TGS')
userdeatils(list1 = [1,2,3,4,5],list2 = [6,7,8,9,0])

{'Name': 'Neel', 'Age': 21, 'Location': 'Hyderabad', 'Company': 'TGS'}
{'list1': [1, 2, 3, 4, 5], 'list2': [6, 7, 8, 9, 0]}

In [59]:
def userdeatils(**kwargs):
    return kwargs
    
detail1 = userdeatils(Name = 'Neel',Age = 21,Location = 'Hyderabad',Company = 'TGS')
detail2 = userdeatils(list1 = [1,2,3,4,5],list2 = [6,7,8,9,0])

print(detail1['Name'])

Neel

### * args return type is TUPLE OR LIST ........  **kwargs return type is DIC

### Lambda
    * a lambda function is an anonymous function
    * lambda fucntion can hvae ny numbre of pararmets but a single expression, the expression is evaluted and returned
    *

syntax lambda argument(s): expression
    * e.g lambda arg1, arg2: arg1 + arg2

In [61]:
addition = lambda a: a+10
print(addition(10))

20

In [62]:
product = lambda a,b: a*b
print(product(10,20))

200

In [63]:
result = lambda *args: max(args)
result(10,40,140,80)

140

In [64]:
result = lambda *args: max(args)
result(10,40,140,80),result(1,6,8,4)

(140, 8)

In [65]:
cost= {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
cost=sorted(cost.items(),key=lambda x: x[1])[::-1]
print(cost[:3])

[('item4', 55), ('item1', 45.5), ('item3', 41.3)]

### Filter
    * It is used to fliter iterable/sequence as per conditions.
    * Filter function filters the original iterable ans passes the items that return True for function provided to filter().
    * Filter is generally used with lambda functions

In [4]:
list1 = [1,2,3,4,5,6,7,8,9,10]
def odd(num):
    if num % 2 != 0:
        return True
    else:
        return False

list(filter(odd,list1))

[1, 3, 5, 7, 9]

In [5]:
list(filter((lambda x: x %2 != 0),list1))

[1, 3, 5, 7, 9]

### MAP - 
    * map() function applies a given fucntion of each item of an iterable (list,tuple) and return list of results

In [6]:
def twice(num):
    return num*2

oddnum = list(map(twice,list1))

In [7]:
oddnum

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [79]:
list(map((lambda x: x %2 != 0),list1))

[True, False, True, False, True, False, True, False, True, False]

### Filter will return the filtered result of the given list, while map will perform some operation on that given list
    * Filter will return the value for which condition is true
    * while map will return the statement(True or false) for the given conditon
    * map applies to all the context (list,tuple..etc)
    * when we want to apply aggeragate we should use reduce funtion

In [81]:
#lambda function will return value

list(map(lambda num:str(num*2) + 'Even',oddnum))

['4Even',
 '8Even',
 '12Even',
 '16Even',
 '20Even',
 '24Even',
 '28Even',
 '32Even',
 '36Even',
 '40Even']

In [82]:

list(map(lambda num:str(num*2) + 'Even',list(filter((lambda x: x %2 != 0),list1))))

['2Even', '6Even', '10Even', '14Even', '18Even']

In [83]:
list3 = ['neel','raju','karan','suresh','rampal']

list(map(lambda x: str.upper(x), list3 ))

['NEEL', 'RAJU', 'KARAN', 'SURESH', 'RAMPAL']

### Reduce 
    * Reduce (function,sequence) is used to apply a particular function passed in its argument to all list elements.
    * Reduce() is define in "functools" module

In [84]:
from functools import reduce

# reduce = use this for aggregate function (sum,count,max,min)

def summation(a,b):
    return a+b

sum_all = reduce(summation,[10,20,30,40,50,60])
print(sum_all)

210

In [90]:
print(reduce(lambda x,y: x+y,[10,20,30,40,50,60]))
l4 = [10,20,30,40,5,100]

210

In [91]:
reduce(lambda a,b: min(a,b),l4)

5

In [89]:
reduce(lambda a,b:a if a<b else b, l4)

10

### frozenset() method
    * it creates an immutable set object from an iterable. It is built in python function. As it set() hence it will store only unique values

In [92]:
list1=['apple','banana','cupcakes','donuts','apple','donuts']
fsets = set(list1)

In [93]:
fsets

{'apple', 'banana', 'cupcakes', 'donuts'}

In [95]:
fsets.add('watermelon')
fsets

{'apple', 'banana', 'cupcakes', 'donuts', 'watermelon'}

In [96]:
frozen_set = frozenset(list1)
type(frozen_set)

frozenset

In [97]:
#frozensets are immutable, hence add(), update(), has no attribute
frozen_set.add('gauva')

AttributeError: 'frozenset' object has no attribute 'add'

In [98]:
a = frozenset([10,20,30,40,50])
b = frozenset([70,80,90])

c = a.copy()

In [99]:
c

frozenset({10, 20, 30, 40, 50})

In [100]:
a = b.copy()

In [101]:
a

frozenset({70, 80, 90})

### wap to check if word is palindrome

In [111]:
strin = 'php'
rv_strin = str(reversed(strin))

if rv_strin == strin:
    print('palindrom')
else:
    print("not palindrom")

not palindrom

In [112]:
print(str(rv_strin))

<reversed object at 0x0000016A27515CD0>

In [107]:
r_string = strin[::-1]
print(r_string)

php

In [108]:
if r_string == strin:
    print('panlidrom')
else:
    print("not palindrom")

panlidrom

In [113]:
mylist = ['neel','anna','raju','harah']

In [114]:
palindrom = list(filter(lambda word: str.lower(word) == str.lower(word[::-1]),mylist))
palindrom

['anna', 'harah']

### Math Library

In [115]:
import math

In [116]:
math.e

2.718281828459045

In [117]:
print(math.pi)

3.141592653589793

In [119]:
num = 2.3
#returning cell value of 2.3
print("the ceil of 2.3 is ",math.ceil(2.3))

the ceil of 2.3 is  3

In [120]:
print("the floor of 2.3 is ",math.floor(num))

the floor of 2.3 is  2

In [121]:
math.factorial(5)

120

In [122]:
math.log(10,10)

1.0

In [123]:
math.log2(10)

3.321928094887362

In [125]:
math.sqrt(225)

15.0

In [131]:

print(math.radians(360)) #degree to radian
math.degrees(math.pi/6)

6.283185307179586

29.999999999999996

### Hashlib Library
    * used in blockchain 
    * conversion of data to hash value(shaw hash SHA256) is known as cryptography

In [11]:
import hashlib
print(hashlib.algorithms_available)

{'ripemd160', 'sha3_256', 'md4', 'mdc2', 'blake2b', 'sha3_512', 'md5', 'md5-sha1', 'sha512', 'blake2s', 'sha3_384', 'sha384', 'sha256', 'shake_128', 'shake_256', 'sm3', 'sha224', 'sha1', 'sha3_224', 'sha512_224', 'sha512_256', 'whirlpool'}

In [135]:
message = hashlib.sha256()

In [ ]:
tt =

In [136]:
#update message using byte strings
message.update(b'hello there')
message.update(b'how are you')

#print the message digest
print(message.digest())

b'\x12\x8c\xfd \xce\xe4\xc2\xf1B\xa5\x92\xc9\xbcG\xe6\x1b8\x8d\xea=h\x91\xfa\x14,,8\x93\x07\xfbd\xa7'

In [137]:
#print hexadecimal (0-9,a-f)
print(message.hexdigest())

128cfd20cee4c2f142a592c9bc47e61b388dea3d6891fa142c2c389307fb64a7

In [12]:
def get_sha_256_hash(input_value):
    return hashlib.sha256(input_value).hexdigest()

In [13]:
get_sha_256_hash('my name is neel')

TypeError: Strings must be encoded before hashing

In [141]:
get_sha_256_hash(b'my name is Neel')

'1d0126e0e515e391e4871cc12524de8299388667d98d1b0f72c99c85d2a39dc9'

In [142]:
get_sha_256_hash(b'my name is neel')

'a64d13b019b876e2c3a7a2e32b7e1e9404bcaaf605b2f8dbb55ef1083f7f7e39'

In [146]:
def hash_string(s1):
    b1= s1.encode()
    hash_object = hashlib.sha256(b1)
    return hash_object

In [151]:
def update_hash(hash_object,input_str):
    hash_object.update(input_str.encode())

hash_object = hash_string('Hello from ABC')

#print hex value of message
print(hash_object.hexdigest())

#update the message
update_hash(hash_object, ' Hello, how are you')

#print the has message after update
print('after updating:',hash_object.hexdigest())

new_str = 'Hello from ABC Hello, how are you'

print(hash_string(new_str).hexdigest()==hash_object.hexdigest())

ecf149c73b09ae9bc0bc1c62917a8bbb9d22b96c4c25c97d05ca8674eb35f684
after updating: f4ddd93e022b393c726bd24f98daf81f75aae300cb409f9d034847182abd6f10
True

### OOPs concept
    * OOPs uses a bottom up approach
    * the program is divided into objects
    * oops uses access modifier
    * objects can move freely within member function
    
    - object have 3 thing (identity, state/attribute, behaviour)

In [152]:
class Car:
    pass

* self is object name, self is referring to object name
- self is alawys the first parameter to pass in the class and whenvever we call a method on the object the object itselfi s automatically passed as the first parameter

In [154]:
class Classname:
    def createname(self,name):
        self.name = name
    def greeting(self):
        print(f'hello {self.name}')

obj = Classname()
obj.createname('Neel')
obj.greeting()

hello Neel