In [3]:
# in order to connect to sqllite db we use the splite db api 2.0
import sqlite3

In [4]:
#create a connection to the database
conn = sqlite3.connect("products.db")

# the conn object represent the connet object to the disk based object products
type(conn
    
    )

sqlite3.Connection

In [8]:
# create a cusor object by ysing the cursor object
cur = conn.cursor()

In [9]:
# create a table by using the connection objeect
cur.execute ("""
CREATE TABLE orders(
_id INT PRIMARY KEY,
customer_id INT NOT NULL,
age INT,
status CHAR(10),
payment_type CHAR(10));
""")

In [10]:
# we can verify that the new tbale has been created by querying the sqlite master
result = cur.execute("SELECT name from sqlite_master")
result.fetchone()

('orders',)

In [12]:
# we can check if other databases are availabe in the sql_master database
res = cur.execute("SELECT name FROM sqlite_master WHERE name='order_details'")
res.fetchone() is None

True

In [16]:
# we can isert data into the tables
cur.execute("""
INSERT INTO orders VALUES
(101,2100,34,'paid','creditcard'),
(102,2102,25,'checkout','upi-netbanking');
""")

In [ ]:

conn.commit()

In [17]:
result = cur.execute("SELECT * from orders")
result.fetchone()

(101, 2100, 34, 'paid', 'creditcard')

In [18]:
result = cur.execute("SELECT * from orders")
result.fetchall()

[(101, 2100, 34, 'paid', 'creditcard'),
 (102, 2102, 25, 'checkout', 'upi-netbanking')]

In [20]:
result = cur.execute("SELECT status from orders")
result.fetchall()

[('paid',), ('checkout',)]

In [21]:
# insert more data
data = [
    (103,2101,25,'expired','creditcard'),
    (104,2103,25,'expired','creditcard'),
    (105,2104,25,'completed','upi-netbanking')
]
cur.executemany("INSERT INTO orders VALUES (?,?,?,?,?)",data)

In [22]:
for row in cur.execute("SELECT age, payment_type FROM orders ORDER BY age"):
    print(row)

(25, 'upi-netbanking')
(25, 'creditcard')
(25, 'creditcard')
(25, 'upi-netbanking')
(34, 'creditcard')

In [23]:
conn.close()